<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesForms.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <title>Login</title>
</head>

<body>
    <div class="big-body">
        <%- include('../partials/bodyLeft.ejs') %>

            <div class="body-rigth">
                <%- include('../partials/header.ejs') %>
                    <div class='login-box'>
                        <main>
                            <form action="/product/<%= findProduct.id %>/edit?_method=PUT" method="post" enctype="multipart/form-data">

                                <div class="nombre input-global">
                                    <label for="name">Nombre del producto</label>
                                    <input type="text" name="name" id="name" value="<%= findProduct.name %>">
                                </div>

                                <div class="descripcion input-global">
                                    <label for="description">Descripción</label>
                                    <input type="text" name="description" id="description" value="<%= findProduct.description %>">
                                </div>

                                <div class="imagen input-global">
                                    <label for="image">Imágen</label>
                                    <input type="file" name="image" id="image">
                                    <input type="hidden" name="old-image" id="" value="<%= findProduct.image %>">
                                </div>

                                <div class="categoria input-global">
                                    <label for="category">Categoria</label>
                                    <select name="category" id="category">
                                        <option value="">Elegí una categoría</option>
                                        <option value="suspenso" <%= findProduct.category === 'suspenso' ? 'selected' : '' %>>Suspenso</option>
                                        <option value="ciencia-ficcion" <%= findProduct.category === 'ciencia-ficcion' ? 'selected' : '' %>>Ciencia Ficcion</option>
                                    </select>
                                </div>

                                <div class="precio input-global">
                                    <label for="author">Autor</label>
                                    <input type="text" name="author" id="author" value="<%= findProduct.author %>">
                                </div>

                                <div class="precio input-global">
                                    <label for="age">Año de lanzamiento</label>
                                    <input type="number" name="age" id="age" value="<%= findProduct.age %>">
                                </div>

                                <div class="precio input-global">
                                    <label for="price">Precio</label>
                                    <input type="number" name="price" id="price" value="<%= findProduct.price %>">
                                </div>

                                <div class="input-global">
                                    <input type="submit" value="Editar">
                                </div>

                            </form>
                        </main>
                    </div>
            </div>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>