<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= findProduct.name %></title>
    <link rel="stylesheet" href="/css/stylesProductDetail.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <div class="big-body">
        <%- include('../partials/bodyLeft.ejs') %>

        <div class="body-rigth">
            <%- include('../partials/header.ejs') %>

                <main>
                    <div class="main-all">

                        <div class="portadas">
                            <img src="/images/products/<%= findProduct.image %>" alt="portada del libro">
                        </div>
                        <div class="caja-izq">
                            <div class="titulos">
                                <h2><%= findProduct.name %></h2>
                                <h3><%= findProduct.author %></h3>
                                <h4><%= findProduct.category %></h4>
                                <h4><%= findProduct.age %></h4>
                                <button class="button">Agregar</button>

                                <h2>sinopsis y detalle</h2>

                                <p class="sinopsis">
                                    <%= findProduct.description %>
                                </p>
                            </div>
                            <div class="fav-agregar">
                                <button class="button2 agregar_carrito" data-id='<%= findProduct.id %>'>Agregar</button>
                                <h4>$<%= findProduct.price %></h4>
                                <div class="icon-co">
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                            </div>
                            <div class="buttons-admin">
                                <% if (locals.userLogged && locals.userLogged.rol_id == 1) { %>
                                    <a href="/product/<%= findProduct.id %>/edit"><button class="button2">Editar</button></a>
                                    <form action="/product/<%= findProduct.id %>/delete?_method=DELETE" method="post">
                                        <button class="button2">Eliminar</button>
                                    </form>
                                <% } %>
                            </div>
                        </div>
                        <!-- <div class="caja-derecha">

                        </div> -->
                    </div>
                </main>

                <%- include('../partials/footer.ejs') %>
        </div>

    </div>
    <%- include('../partials/scripts.ejs') %>
</body>

</html>