<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesForms.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <title>Login</title>
</head>

<body>
    <div class="big-body">
        <%- include('../partials/bodyLeft.ejs') %>

            <div class="body-rigth">
                <%- include('../partials/header.ejs') %>
                    <div class='login-box'>
                        <main>
                            <form action="/product/<%= findProduct.id %>/edit?_method=PUT" method="post" enctype="multipart/form-data" id="importantForm">

                                <div class="nombre input-global">
                                    <label for="name">Nombre del producto</label>
                                    <input type="text" name="name" id="name" value="<%= findProduct.name %>">
                                    <p class="text-danger"></p>
                                    <% if (locals.errors && errors.name) { %>
                                        <p class="text-danger"><%= errors.name %></p>
                                    <% } %>
                                </div>

                                <div class="descripcion input-global">
                                    <label for="description">Descripción</label>
                                    <input type="text" name="description" id="description" value="<%= findProduct.description %>">
                                    <p class="text-danger"></p>
                                    <% if (locals.errors && errors.description) { %>
                                        <p class="text-danger"><%= errors.description %></p>
                                    <% } %>
                                </div>

                                <div class="imagen input-global">
                                    <label for="image">Imágen</label>
                                    <input type="file" name="image" id="image" class="image-edit">
                                    <p class="text-danger"></p>
                                    <input type="hidden" name="old-image" id="" value="<%= findProduct.image %>">
                                    <% if (locals.errors && errors.image) { %>
                                        <p class="text-danger"><%= errors.image %></p>
                                    <% } %>
                                </div>

                                <div class="categoria input-global">
                                    <label for="category">Categoria</label>
                                    <select name="category_id" id="category">
                                        <option value="">Elegí una categoría</option>
                                        <option value="1" <%= findProduct.category_id == '1' ? 'selected' : '' %>>Suspenso</option>
                                        <option value="2" <%= findProduct.category_id == '2' ? 'selected' : '' %>>Ciencia Ficcion</option>
                                    </select>
                                    <% if (locals.errors && errors.category_id) { %>
                                        <p class="text-danger"><%= errors.category_id %></p>
                                    <% } %>
                                </div>

                                <div class="precio input-global">
                                    <label for="author">Autor</label>
                                    <input type="text" name="author" id="author" value="<%= findProduct.author %>">
                                    <p class="text-danger"></p>
                                    <% if (locals.errors && errors.author) { %>
                                        <p class="text-danger"><%= errors.author %></p>
                                    <% } %>
                                </div>

                                <div class="precio input-global">
                                    <label for="age">Año de lanzamiento</label>
                                    <input type="number" name="age" id="age" value="<%= findProduct.age %>">
                                    <p class="text-danger"></p>
                                    <% if (locals.errors && errors.age) { %>
                                        <p class="text-danger"><%= errors.age %></p>
                                    <% } %>
                                </div>

                                <div class="precio input-global">
                                    <label for="price">Precio</label>
                                    <input type="number" name="price" id="price" value="<%= findProduct.price %>">
                                    <p class="text-danger"></p>
                                    <% if (locals.errors && errors.price) { %>
                                        <p class="text-danger"><%= errors.price %></p>
                                    <% } %>
                                </div>

                                <div class="input-global">
                                    <input type="submit" value="Editar">
                                </div>

                            </form>
                        </main>
                    </div>
            </div>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/productsValidation.js"></script>
</body>

</html>